<?xml version="1.0" encoding="UTF-8"?>
<server description="Liberty server for CICS Spring Boot Link sample">

    <featureManager>
        <!-- Link to Liberty support -->
        <feature>cicsts:link-1.0</feature>
        <!-- Enable CICS security if required -->
        <feature>cicsts:security-1.0</feature>
    </featureManager>

</server>
